<div class="py-5 text-center" style="	background-image: url(&quot;assets/image/cat.jpg&quot;);	background-size: cover;	background-position: to left botto;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10">
        <h3 class="display-3">Planeje-se</h3>
        <p class="mb-3 lead">Encontre profissionais qualificados e de confiança para seu pet</p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas maecenas pharetra. Pulvinar sapien et ligula ullamcorper malesuada proin.</p> <a class="btn btn-outline-primary" routerLink="/novo-usuario">Cadastre-se</a><a routerLink="/login" class="btn btn-primary ml-4">Login</a>
      </div>
    </div>
  </div>
</div>
<div class="py-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-3">
        <div class="card">
          <div class="card-body p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="assets/image/passeio.png" width="150">
            <h1>Passeio</h1>
            <p class="mb-0">Ocupado? Escolha um Dogwalker para passear com seu catiorineo!<br><br></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-3 col-md-6">
        <div class="card">
          <div class="card-body p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="assets/image/adestramento.png" width="150">
            <h1>Adestramento</h1>
            <p class="mb-0">O adestramento pode ser seu maior aliado na convivência harmoniosa com seu novo amigo!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-3 col-md-6">
        <div class="card">
          <div class="card-body p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded" src="assets/image/petshop.png" width="150">
            <h1>Pet Shop</h1>
            <p class="mb-0">Veja os Pet Shops perto da sua casa e agende um horário para banho e tosa!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center align-items-center d-flex" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-5x"></i>
        <h1 class="display-3 mb-4">O my friend</h1>
        <p class="lead mb-5">Heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living.</p> <a class="btn btn-lg mx-1 btn-outline-dark" href="#">Do</a> <a href="#" class="btn btn-lg btn-primary mx-1">Something</a>
      </div>
    </div>
  </div>
</div>
