<div class="py-5 bg-light" style="">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6 d-flex flex-column justify-content-center">
          <h3 class="display-4 mb-3">Heaven and earth</h3>
          <p class="mb-4 lead">Seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions.</p>
        </div>
        <div class="p-5 col-md-6 bg-dark text-light" style="">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8" style=""></div>
                <div class="col-md-4" style=""><a class="btn btn-outline-secondary text-right" routerLink="/novo-usuario">Cadastrar</a></div>
              </div>
            </div>
          </div>
          <h1 class="mb-3" contenteditable="true">Login<br></h1>
          <form>
            <div class="form-group"> <label>E-mail<br></label> <input class="form-control" placeholder="joaozinho@hotmail.com" type="email" required="required" name="email"> </div>
            <div class="row">
            </div>
            <div class="form-group mb-0 pb-0"><label>Senha<br></label> <input type="password" class="form-control" placeholder="*********" required="required" name="senha"> </div><a class="btn btn-link ml-0 mt-0 pl-0" href="#" style="">Esqueci minha senha<br></a>
            <button type="submit" class="btn btn-block btn-outline-light p-2 pt-0 mt-2">Entrar<br></button>
          </form><a class="btn text-left w-100 py-2 btn-dark border mt-4" href="#"><u><i class="fa fa-fw fa-google">&nbsp;</i>Entrar com o Google</u><br></a>
        </div>
      </div>
    </div>
  </div>