<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4" style=""><img class="img-fluid d-block rounded-circle mx-auto" src="assets/image//icone_padrao.png" width="100" height="100">
              </div>
              <div class="col-md-8" style="">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h4 class=""><b>usuário</b></h4>
                      </div>
                      <div class="col-md-4 text-right"> <a routerLink="/editar-perfil" title="Click para editar sua informações de usuário"> <mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>  </a>  </div>
                    </div>
                    <h6 class="">usuário</h6>
                    <h6 class="">numero</h6>
                    <h6 class="">rua</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row my-2"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> Histórico Financeiro</div>
          <div class="card-body">
            <p>Última transação financeira: 10:30 03/10/2019 <br></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <div class="row"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="">
        <div class="card">
          <div class="card-header"> Serviços Disponibilizados</div>
          <div class="card-body">
            <p>Você ainda não possui serviços cadastrados.<br></p>
          </div><a class="btn btn-light text-left" routerLink=""> <mat-icon >add</mat-icon> Adicionar Serviços</a>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row my-2"></div>
            <div class="card">
              <div class="card-header"> Formas de Pagamentos</div>
              <div class="card-body">
                <p>Você ainda não possui formas de pagamento cadastrados.</p>
              </div><a class="btn btn-light text-left" routerLink="">  <mat-icon>add</mat-icon> Adicionar Formas de Pagamento</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row my-2">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header"> Minha Agenda&nbsp;</div>
              <div class="card-body">
                <p style="">Gerencie sua agenda aqui</p><a routerLink="/agenda">   <mat-icon> calendar_today </mat-icon> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>